<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <script type ="text/javascript">
    //console.log(JSON.stringify(users));
    </script> -->
    <title>All The Cats</title>
</head>
    <body>
        <h3>Here are the cats:</h3>
        <table border = 1>
                <tr>
                  <th>id</th>
                  <th>Name</th>
                  <th>Color</th>
                  <th>Actions</th>
                </tr>
                <% for (var cat in cats) { %>
                <tr>
                    <td><%= cats[cat]._id %></td>
                    <td><a href="cats/<%= cats[cat]._id %>"><%= cats[cat].name %></a></td>
                    <td><%= cats[cat].color %></td>
                    <td><a href="/cats/edit/<%= cats[cat]._id %>">Edit</a>
                        <form action="/cats/destroy/<%= cats[cat]._id %>" method="post">
                            <input type = 'submit', value = 'Delete'>
                        </form>
                        </td>
                    
                </tr>
                <% } %>

    </body>
</html>